all-clip==1.2.0
click==8.1.7
clip-anytorch==2.6.0
clip-retrieval==2.44.0
faiss==1.7.4
ftfy==6.1.3
h5py==3.11.0
huggingface-hub==0.19.4
img2dataset==1.45.0
open-clip-torch==2.24.0
opencv-python-headless==4.9.0.80
pandas==2.0.3
Pillow==10.1.0
protobuf==4.25.1
pyarrow==14.0.2
pytest==7.2.0
pytest-split==0.8.0
PyYAML==6.0.1
regex==2023.10.3
scikit-image==0.21.0
scikit-learn==1.3.2
scipy==1.10.1
sentence-transformers==2.6.1
tensorboard==2.14.0
tensorboard-data-server==0.7.2
timm==0.9.12
tokenizers==0.15.0
torch==2.1.1
torchvision==0.16.1
tornado==6.4
tqdm==4.66.1
transformers==4.35.2
typing_extensions==4.11.0
urllib3==1.26.18
webcolors==1.13
webdataset==0.2.79
yacs==0.1.8
